@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-color: #9370DB;
}

* {
  padding: 0;
  margin: 0;
}

/* ELEMENTOS HTML */

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* COMPONENTS */

.btn {
  border-radius: 50px;
  color: #FFF;
  background-color: var(--primary-color);
  border: none;
  padding: 8px 16px;
}

.btn:hover {
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px 32px;
}

.navbar > .navbar-left-items {
  margin-right: auto;
}

.navbar > .navbar-left-items > .navbar-nav {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 16px;
}

/* HOME [SECTION] */

#logo{
  height: 10vw;
  min-height: 140px;
}

#textlogo > p{
  color: var(--primary-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#apresenlogo{
  margin-top: 150px;
  margin-left: 15vw;
}

#textlogo{
  margin-left: 5vw;
  margin-top: 2vw;
}
#textlogo{
  margin-top: 10px;
}

/* SOBRE [SECTION] */

#Sobre{
  background-color: var(--primary-color);
  height: 200px;
}

#Sobre > p{
  color: white;
  font-size: 45px;
  margin-left: 20vw;
  margin-top: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}